<div class="container" ng-controller="LoginCtrl">
    <div class="row" style="margin-bottom: -50px;">
      <img src="http://s30.postimg.org/kknu57c0x/Logo_Asvins.jpg" height="200px" width="200px" style="position:relative; left:50%; margin-left: -100px; margin-top: 20px;">
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="user.email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Relembrar?
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a ng-click="login()" class="btn btn-lg btn-success btn-block">Login</a>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer">
                  <p>
                    Ainda não possui cadastro? <a ui-sref="registration">Cadastre-se.</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
