<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Medicamentos</h1>
    </div>
</div>
<div class="row" ng-controller="ChartCtrl">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="pannel-heading"><h4 style="margin-left: 10px;">Tomados regularmente</h4></div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                      <th>Tipo</th>
                      <th>Medicação</th>
                      <th>Frequencia</th>
                      <th>Dosagem</th>
                      <th>Duração</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in treatment.prescriptions" ng-click="select(p)">
                        <td>{{p.medication.type}}</td>
                        <td>{{p.medication.name}}</td>
                        <td>{{p.frequency}}</td>
                        <td>{{p.medication.dosage}}</td>
                        <td>De {{p.starting_at * 1000 | date:'dd/MM/yyyy'}} até {{p.finishing_at * 1000 | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default" ng-show="selected_pre != null">
    <div class="pannel-heading"><h4 style="margin-left: 15px; margin-bottom: 0;">Detalhes</h4></div>
    <div class="panel-body">
      <p style="margin-top: 10px; margin-bottom: 10px;"><b>nome:</b> {{selected_pre.medication.name}}</p>
      <p style="margin-top: 10px; margin-bottom: 10px;"><b>principio atívo:</b> {{selected_pre.medication.active_agent}}</p>
      <p style="margin-top: 10px; margin-bottom: 10px;"><b>dosagem:</b> {{selected_pre.medication.dosage}}</p>
      <p style="margin-top: 10px; margin-bottom: 10px;"><b>tipo:</b> {{selected_pre.medication.type}}</p>
      <p style="margin-top: 10px; margin-bottom: 10px;"><b>registro:</b> {{selected_pre.medication.br_register}}</p>
      <p style="margin-top: 10px; margin-bottom: 10px;"><a href="{{selected_pre.medication.bula}}" target="blank">Baixar bula</a></p>
      <div class="panel-footer" ng-show="selected_pre.medication.receipt_ok == 1" style="margin-left: -15px; margin-top: -10px; margin-bottom: -15px; margin-right: -15px;">
        <span class="text-danger" ng-show="selected_pre.receipt_id == 0">Este medicamento exige receita médica!</span>
        <div class="button btn btn-default" name="receipt" ng-model="file" ngf-select ng-show="1 || file == null && selected_pre.receipt_id == 0" type="file">Selecionar Imagem</div>
        <div class="button btn btn-warning" ng-click="upload(selected_pre.id)" ng-show="file != null">Fazer Upload</div>
        <span class="text-success" ng-show="selected_pre.receipt.file_path != ''">Sua receita para este medicamento já foi enviada com sucesso!<a href="{{receiptURL(selected_pre)}}" target="_blank"> Ver receita</a></span><br>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
    <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Line Chart</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                click="line.onClick" series="line.series"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Bar Chart</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Doughnut Chart</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Radar Chart</div>
            <div class="panel-body">
                <canvas id="area" class="chart chart-radar" data="radar.data" labels="radar.labels" click="onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Pie Chart</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="polar area-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Polar Area Chart</div>
        <div class="panel-body">
          <canvas id="polar" class="chart chart-polar-area" data="polar.data" labels="polar.labels"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="base-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dynamic Chart</div>
            <div class="panel-body">
            <canvas id="base" class="chart chart-base" chart-type="dynamic.type" data="dynamic.data" labels="dynamic.labels" legend="true"></canvas>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="dynamic.toggle()">Toggle</button>
    </div> -->
</div>
