<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dados pessoais</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="FormCtrl">
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Dados
              </div>
              <div class="panel-body">
                  <div class="row" ng-show="user.scope == 'patient'">
                    <div class="col-lg-6">
                      <form role="form">
                        <div class="form-group">
                          <label>Email</label>
                          <input class="form-control" ng-model="user.email">
                          <br>
                          <label>Nome</label>
                          <input class="form-control" ng-model="user.name">
                          <br>
                          <label>CPF</label>
                          <input class="form-control" ng-model="user.cpf">
                          <br>
                          <label>Sexo</label>
                          <br>
                          <div class="radio">
                            <label>
                                <input type="radio" ng-model="user.gender" id="gender1" value="0" checked> Masculino
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                                <input type="radio" ng-model="user.gender" id="gender2" value="1"> Feminino
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                                <input type="radio" ng-model="user.gender" id="gender3" value="2"> Outro
                            </label>
                          </div>
                          <br>
                          <button type="submit" ng-click="save()" class="btn btn-info">Enviar dados</button>
                        </div>
                      </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                      <h1>Dados médicos</h1>
                      <label>Histórico médico</label>
                      <textarea class="form-control" rows="11" ng-model="user.medical_history" value="João Silva"></textarea>
                      <br>
                      <label>Peso (em kg)</label>
                      <input class="form-control" ng-model="user.weight">
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                  </div>
                  <!-- /.row (nested) -->
                  <div class="row" ng-show="user.scope == 'medic'">
                    <div class="col-lg-6">
                      <form role="form">
                        <div class="form-group">
                          <label>Email</label>
                          <input class="form-control" ng-model="user.email" placeholder="Ex.: joao.silva@exemplo.com">
                          <br>
                          <label>Nome</label>
                          <input class="form-control" ng-model="user.name" placeholder="Ex.: João Silva">
                          <br>
                          <label>CPF</label>
                          <input class="form-control" ng-model="user.cpf" placeholder="Ex.: 92877263512">
                          <br>
                          <label>CRM</label>
                          <input class="form-control" ng-model="user.crm" placeholder="Ex.: 8827366">
                          <br>
                          <label>Especialidade médica</label>
                          <br>
                          <select name="especialidade" ng-model="user.specialty">
                            <option value="0">{{mEnumToString(0)}}</option>
                            <option value="1">{{mEnumToString(1)}}</option>
                            <option value="2">{{mEnumToString(2)}}</option>
                            <option value="3">{{mEnumToString(3)}}</option>
                            <option value="4">{{mEnumToString(4)}}</option>
                          </select>
                          <br>
                          <br>
                          <button type="submit" ng-click="save()" class="btn btn-info">Enviar dados</button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="row" ng-show="user.scope == 'pharmacist'">
                    <div class="col-lg-6">
                        <form role="form">
                          <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" ng-model="user.email" placeholder="Ex.: joao.silva@example.com">
                            <br>
                            <label>Nome</label>
                            <input class="form-control" ng-model="user.name" placeholder="Ex.: João Silva">
                            <br>
                            <label>CPF</label>
                            <input class="form-control" ng-model="user.cpf" placeholder="Ex.: 08266253782">
                            <br>
                            <label>CRF</label>
                            <input class="form-control" ng-model="user.crf" placeholder="Ex.: 882748">
                            <br>
                            <label>Especialidade farmaceutica</label>
                            <input class="form-control" ng-model="user.specialty" placeholder="Ex.: Narcóticos">
                            <br>
                            <button type="submit" ng-click="save()" class="btn btn-info">Enviar dados</button>
                          </div>
                        </form>
                    </div>
                  </div>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.col-lg-12 -->
</div>
